@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Advansio</h1>
    <p>Dont have an account? <a href="https://docs.microsoft.com/aspnet/core">Click here to register</a>.</p>
</div>
