@page
@model PrivacyModel
@{
    ViewData["Title"] = "Success";
}

<div class="container d-flex justify-content-center">
    <div class="col-md-6">

        <!-- Success Message with Image -->
        <div class="alert alert-success" role="alert">
             Welcome to AdvansioIntLtd...
            <a href="/Index" class="text-decoration-none text-danger"><strong>Go To HomePage!</strong></a>
            <br />
            <img src="~/images/Group 526.png" alt="Success Image" class="img-fluid mt-2">
        </div>
    </div>
</div>
